
extends embed.pug

block iframe
  iframe(width="1000" src="https://02be80eb.ngrok.io/test.html" id="myFrame" height="500" allow="camera;microphone https://02be80eb.ngrok.io/test.html" )
  div(id="recordAppError" class="surface" style="display: none; padding: 20px;")
  script.
    microsoftTeams.getContext(function(context) {
      // If not running in the Microsoft tenant, show an error message; otherwise, show the PowerApp
      var showPowerApp = (context.tid === "72f988bf-86f1-41af-91ab-2d7cd011db47"); // Microsoft's tenant ID
      // Uncomment the line below if you create your own PowerApp and modify the iframe's src= URL
      // var showPowerApp = true
      if (showPowerApp) {
          //document.getElementById("myFrame").src = "audioFile.html";
        document.getElementById("audioRecord").style.display = "block";
      }
      else {
        document.getElementById("recordAppError").style.display = "block";
      }
    });