doctype html
audio(controls="true" autoplay="true")
script.
  var audio = document.querySelector("audio");
  function getUrlParameter(name) {
  name = name.replace(/[\\[]/, '\\[').replace(/[\]]/, '\\]');
  var regex = new RegExp('[\\\?&]' + name + '=([^&#]*)');
  var results = regex.exec(location.search);
  return results === null ? '' : decodeURIComponent(results[1].replace(/\\+/g, ' '));
  };
  
  audio.src=getUrlParameter('audioFile');
  audio.play();